@import "inc/bootstrap";

.qti-choiceInteraction {
    $column-space: 10px;

    .label-box {
        min-height: 16px;
        display: flex;
        align-items: center;
    }
    .overlay-answer-eliminator {
        display: none;
    }
    [data-eliminable="container"] {
        display: none;
        [data-eliminable="trigger"] {
            font-size: 1.6rem;
            position: relative;
            z-index: 4;
            cursor: pointer;
        }
    }

    // List item
    .qti-choice {
        display: flex;

         //Real list-style (hidden)
         &::before {
            visibility: hidden;
            position: absolute;
            pointer-events: none;
        }

        .cell {
            position: relative;
            min-width: 18px;
            min-height: 18px;

            .icon-radio,
            .icon-checkbox,
            .list-symbol {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            &:before {
                content: "0";
                visibility: hidden;
                pointer-events: none;
            }
        }

        // List style (optional)
        .list-symbol-container {
            display: none;
            flex: 0;
            order: 2;
            margin: 0 $column-space 0 0;

            .cell:before {
                content: "00";
            }
        }
        .list-symbol {
            min-width: 25px;
            text-align: center;
        }

        // Checkbox/Radio for selecting item
        .real-label {
            flex: 0;
            order: 1;
            padding: 0;
            margin: 0 $column-space 0 0;
        }

        // Eliminate checkbox (optional)
        .choice-eliminate {
            display: none;
            order: 3;
            flex: 0;
            padding: 0;
            margin: 0 $column-space 0 0;
            position: relative;
            z-index: 2;
        }

        &:first-child .choice-eliminate:before {
            content: attr(data-label);
            position: absolute;
            bottom: calc(100% + 20px);
            left: 50%;
            transform: translateX(-50%);
        }

        // Item Content
        .label-content {
            flex: 1;
            display: flex;
            align-items: center;
            flex-direction: column;
            order: 4;
            position: relative;

            .content-body {
                display: flex;
                align-items: center;
                min-height: 18px;
                width: 100%;
            }

            &:after {
                content: "";
                flex: 1;
            }
        }

        // Eliminated item
        &.eliminated {
            .list-symbol-container,
            .real-label,
            .label-content {
                opacity: .7;
                pointer-events: none;
                cursor: not-allowed;
            }
            &:after {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                z-index: 1;
                width: 100%;
                height: 100%;
                background: white(.7);
                cursor: not-allowed;
            }
            [data-eliminable="trigger"]:before {
                @include icon-checkbox-crossed();
            }
            .overlay-answer-eliminator {
                display: block;
            }
        }
    }

    .overlay-answer-eliminator {
        stroke: rgb(0,0,0);
        stroke-width: 1;
        overflow: hidden;
        display: none;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .header-dummy {
        padding: 5px 0 0;
    }

    // Eliminatable item
    .eliminable {
        .header-dummy,
        .choice-eliminate {
            display: block;
        }

    }

    // Add button
    .add-option::before {
        display: none;
    }

    .choice-area {
        // is list style ON
        &[class^="list-style-"], &[class*=" list-style-"] {
            .list-symbol-container {
                display: block;
            }
        }
    }

    // Is eliminatable ON
    &.eliminable {
        [data-eliminable] {
            display: block;
        }
    }

    .block-listing > li {
        margin-top: 0;
        margin-bottom: 0;
        border-top: none;
        border-bottom: none;
        @include border-radius(0);
        &:first-child {
            margin-top: 3px;
            border-top: 1px solid #eee;
            @include border-radius-top(2);
        }
        &:last-child {
            margin-bottom: 3px;
            border-bottom: 1px solid #eee;
            @include border-radius-bottom(2);
        }
    }
    .block-listing.horizontal > li {
        margin: 3px;
        border: 1px solid #eee;
        @include border-radius(2);
    }


    //IE specific

    .checked {
        span.icon-checkbox:before{
            @include tao-icon-setup;
            @include icon-checkbox-checked;
        }
        span.icon-radio:before{
            @include tao-icon-setup;
            @include icon-radio-checked;
        }
    }
    .real-label{
        input{
            position: absolute;
            left: -10000px;
        }
    }
    //END IE specific
}
