figure {
    margin: 0;

    @include writing-mode-vertical-rl {
        display: grid;
    }
    @include writing-mode-horizontal-tb {
        display: block;
    }

    figcaption {
        font-size: 12px;
        line-height: 20px;
        padding: 6px 8px;
        word-wrap: break-word;
        grid-row: -1; /* applicable in writing-mode-vertical-rl */
    }
}
