@import "inc/bootstrap";

.qti-GapMatchInteraction {
    .gapmatch-content {
        audio, canvas, img, video {
            vertical-align: baseline;
        }
        &:hover {
            @extend %selectableHover;
        }
        background: $uiClickableDefaultBg;
        @include border-radius();
        position: relative;
        min-width: 80px;
        min-height: 20px;
        display: inline-block;
        &.empty {
            min-height: 20px;
        }
        .remove {
            float: right;
        }
    }
    .choice-area {
        .deactivated {
            cursor: default;
            opacity: 0.2;
        }
    }
}