@import 'inc/bootstrap';

$colorDark: #222222;
$colorBrand: #266d9c;
$colorLight: #ffffff;
$colorLightBlue: #e4ecef;
$colorDisabledText: #7a7a7a;

.qti-gapMatchInteraction {
    .gapmatch-content {
        audio,
        canvas,
        img,
        video {
            vertical-align: baseline;
        }

        border: solid 1px transparent;
        border-bottom-color: $colorDark;
        background: $uiClickableDefaultBg;
        color: $textColor;
        @include border-radius();
        position: relative;
        top: 0px;
        min-width: 45px;
        min-height: 20px;
        display: inline-block;

        &.empty {
            min-height: 20px;
            border-color: $colorBrand !important;
            cursor: pointer;

            &:hover {
                border-style: solid !important;
                background-color: $colorLightBlue;
            }
        }
        &.filled {
            top: 0 !important;
            border-bottom-color: $colorBrand;
            color: $colorBrand;
            background: $colorLight;
            cursor: pointer;

            &:not(.empty):hover {
                border-bottom-color: transparent;
                color: $colorLight;
                background: $colorBrand;
                box-shadow: -2px 0px 0 0px $colorBrand;

                &:after {
                    @include tao-icon-setup;
                    @include icon-result-nok;
                    color: $colorLight;
                    position: absolute;
                    font-size: 12px;
                    height: calc(100% + 2px);
                    right: -18px;
                    top: -1px;
                    padding: 5px 4px;
                    border-radius: 0 2px 2px 0;
                    background: $colorBrand;
                }
            }
        }
        &.dragged,
        &.dragged:hover {
            @extend %dragged;
        }
        &.droppable,
        &.droppable:hover {
            @extend %droppable;
        }
        &.dropzone {
            @extend %dropzone;
        }

        .qti-block {
            display: inline-block;
        }
    }

    .qti-choice {
        @include dragdrop-noselect;
    }

    .choice-area {
        li {
            border-color: $colorDark;

            &:not(.active):not(.deactivated):hover {
                color: $colorBrand !important;
                background-color: $colorLightBlue !important;
                border-color: $colorBrand;
            }
            &.active,
            &.active:hover {
                color: $colorLight !important;
                background-color: $colorBrand !important;
                border-color: $colorBrand;
            }
            &.deactivated {
                color: $colorDisabledText;
                background-color: $uiClickableDefaultBg;
                border-color: $colorDisabledText;
                cursor: default;
                pointer-events: none;
            }
        }
    }
}
