@import "inc/bootstrap";

.qti-graphicInteraction {



    .active {
        & > input, & > textarea,
        input.active, textarea.active {
            border-color: mix(#fff, $info, 20%);
        }
    }
    .image-editor {
        position: relative;
        float: left;
        padding: 10px;
    }

    .main-image-box {
        margin: 0 auto;
        padding: 0;
        text-align: center;
    }

    .image-sidebar {
        float: left;
        width: 50px;
        height: 100%;
        min-height: 230px;
        top: 0;
        z-index: 1000;
        .forms {
            overflow: hidden;
            margin-top: 10px;
            @include font-size(40);
            li {
                border: 1px solid transparent;
                line-height: 40px;
                padding: 5px 0 3px 0;
                cursor: pointer;
                &.active {
                    color: mix(#fff, $info, 20%);
                }
                &:hover {
                    background: $uiClickableHoverBg;
                    color: $textHighlight;
                }
            }
        }
        & ~ .image-editor {
            min-height: 230px;
        }
    }

}

@import 'graphic-gap';
@import 'graphic-order';
@import 'select-point';
