$colorBrand: #266d9c;
$colorBrandOpacity50: #266d9c80;
$colorBrandOpacity0: #266d9c00;
$colorDark: #222222;
$colorLight: #ffffff;
$colorError: #c74155;
$colorLightBeige: #dddddd;
$colorLightBeigeOpacity50: #dddddd80;
$colorLightBlue: #e4ecef;

@function unscale($val) {
    @return calc($val / var(--paper-scale, 1));
}

@mixin transform-unscale {
    transform-box: fill-box;
    transform-origin: center center;
    transform: scale(calc(1 / var(--paper-scale, 1)));
}
