@import 'inc/bootstrap';
@import 'graphic-functions';

.qti-graphicAssociateInteraction {
    .hotspot {
        .hotspot-inner {
            stroke-width: unscale(16);
            fill: $colorBrand;
            stroke-linejoin: round;
            cursor: pointer;
        }
        .hotspot-outer {
            stroke: $colorLight;
            stroke-width: unscale(12);
            stroke-linejoin: round;
            fill: none;
            cursor: pointer;
        }

        &.basic {
            .hotspot-inner {
                stroke: $colorDark;
                fill-opacity: 0.2;
            }
        }
        &.basic[data-matchable='true']:hover {
            .hotspot-inner {
                stroke: $colorBrand;
                fill-opacity: 0.5;
            }
        }

        &.basic[data-associated='true'] {
            .hotspot-inner {
                stroke: $colorBrand;
                fill-opacity: 0.5;
            }
        }
        &.basic[data-associated='true'][data-matchable='true']:hover {
            .hotspot-inner {
                stroke-width: unscale(20);
                stroke: $colorBrand;
                fill-opacity: 0.5;
            }
        }

        &.active {
            .hotspot-inner {
                stroke-width: unscale(20);
                stroke: $colorBrand;
                fill-opacity: 0.5;
            }
        }
        &.active:hover {
            .hotspot-inner {
                stroke-width: unscale(20);
                stroke: $colorBrand;
                fill-opacity: 0.5;
            }
        }

        &.selectable {
            .hotspot-inner {
                stroke: $colorDark;
                fill-opacity: 0.2;
            }
        }
        &.selectable:hover {
            .hotspot-inner {
                stroke: $colorBrand;
                fill-opacity: 0.5;
            }
        }

        &.selectable[data-associated='true'] {
            .hotspot-inner {
                stroke: $colorBrand;
                fill-opacity: 0.5;
            }
        }
        &.selectable[data-associated='true']:hover {
            .hotspot-inner {
                stroke-width: unscale(20);
                stroke: $colorBrand;
                fill-opacity: 0.5;
            }
        }

        &.error {
            .hotspot-inner {
                stroke: $colorError;
                fill: $colorError;
                fill-opacity: 0.5;
            }
        }
    }

    .assoc-line {
        cursor: pointer;
    }
    .assoc-line-outer {
        stroke: $colorLight;
        stroke-width: unscale(8);
        stroke-linecap: round;
        transition: stroke-width 200ms;
    }
    .assoc-line-inner {
        stroke: $colorBrand;
        stroke-width: unscale(2);
        stroke-linecap: round;
    }
    .assoc-line-hitbox {
        stroke-width: unscale(28);
        stroke-opacity: 0;
    }
    .assoc-line:hover {
        .assoc-line-outer {
            stroke-width: unscale(12);
        }
        .assoc-line-inner {
            stroke-width: unscale(3);
        }
    }

    .close-btn {
        @include transform-unscale;
        cursor: pointer;
        transition: opacity 200ms;
    }
    .close-btn-path {
        fill: $colorLight;
        stroke: $colorLight;
        stroke-width: 0;
    }
    .close-btn-bg {
        fill: $colorBrand;
        stroke: $colorLight;
        stroke-width: 2;
    }
    .close-btn-hitbox {
        fill: $colorBrand;
        opacity: 0;
        stroke-width: 0;
    }

    .glass-layer {
        fill: $colorDark;
        opacity: 0.4;
        stroke-width: 0;
    }
    .assoc-line:not(.selected):not(:hover) + .close-btn:not(:hover) {
        opacity: 0;
        visibility: hidden;
    }
}
