@import "inc/bootstrap";

.runtime:not(.widget-box) {
    .qti-hottextInteraction {
        .qti-hottext {
            padding: 1px;
            border-width: 1px !important;
        }
    }
}

.qti-hottextInteraction {
    
    //@todo : change it to qti-hottext
    .qti-hottext {
        background: $uiClickableDefaultBg;
        margin-right: 5px;
        @include border-radius();
        position: relative;
        border-width: 0px !important;
        
        &:hover {
            @extend %selectableHover;
        }
        
        &.error{
            color : $error;
        }

        .hottext-checkmark {
            padding-right: 0;
            min-width: auto;
            width: auto;
        }
        
        [class^="icon-"], [class*=" icon-"] {
            &.small {
                @include font-size(12);
                text-shadow: none;
                line-height:10px;
                top: 1px;
            }
            &.error{
                color : $error;
            }
        }

        //todo : should be moved to creator's part
        .mini-tlb[data-edit] {
            top: -2px;
            .tlb-button {
                padding-top: 0;
            }
            .icon-undo {
                padding-right:1px;
                position: relative;
                top: 2px;
            }
            label {
                padding: 0 3px;
            }
            [data-role="score"] {
                width: 30px;
            }
        }
    }
}
