@import "inc/bootstrap";

.qti-orderInteraction {
  .arrow-bar {
    text-align: center;
    span {
      margin: 3px auto;
      @include font-size(25);
      color: mix(#fff, $textColor, 50%);
      background: mix(#fff, $uiClickableDefaultBg, 50%);
      cursor: default;
      height: 40px;
      &.active {
        background: $uiClickableDefaultBg;
        cursor: pointer;
        color: $textColor;
        &:hover {
          color: $textHighlight;
          background: $uiClickableHoverBg;
        }
      }
      &.triggered {
        color: $textHighlight;
        background: $uiClickableHoverBg;
      }
    }
  }

  /* VERTICAL orientation (default left position) */
  &.qti-vertical {
    .order-interaction-area {
      display: table;
      border-collapse: separate;
      border-spacing: 5px 5px 5px 0;
      width: 100%;
    }
    ul.source,
    ul.target,
    ol.source,
    ol.target {
      display: table-cell;
      width: 43%;
      padding-left: 40px;
      padding-right: 3px;

      @include rtl {
        padding-left: 3px;
        padding-right: 40px;
      }
    }
    .arrow-bar {
      display: table-cell;
      vertical-align: middle;
      padding: 5px;
      .icon-move-before {
        @include icon-up;
      }
      .icon-move-behind {
        @include icon-down;
      }
      span {
        padding: 8px 0;
        display: block;
        width: 50px;
        &.inactive {
          visibility: hidden;
        }
      }
      &.middle {
        span.inactive {
          display: none;
        }
      }
    }
    .icon-add-to-selection,
    .icon-remove-from-selection {
      @include rtl {
        transform: scale(-1);
      }
    }

    /* Vertical - (top & bottom position common css) */
    &.qti-choices-top,
    &.qti-choices-bottom {
      .order-interaction-area {
        display: grid;
        grid-template-columns: 1fr auto;
        row-gap: 10px;
        column-gap: 10px;
        align-items: start;
      }
      ul.source,
      ul.target,
      ol.source,
      ol.target {
        width: 100%;
      }
      .choice-area,
      .result-area {
        min-height: 80px;
      }
      .arrow-bar.middle {
        grid-column: 1 / -1;
        display: flex;
        justify-content: center;
      }
      .result-area {
        grid-column: 1;
        display: block;
      }
      .order-interaction-area {
        > .arrow-bar:not(.middle) {
          grid-column: 2;
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 40px;
          text-align: center;
          span {
            display: block;
            padding: 6px 0;
          }
        }
      }
      .result-area:empty + .arrow-bar {
        display: none;
      }
    }
    /* Vertical - top (grid order) */
    &.qti-choices-top {
      .choice-area {
        grid-row: 1;
        grid-column: 1 / -1;
      }
      .arrow-bar.middle {
        grid-row: 2;
      }
      .result-area {
        grid-row: 3;
      }
      .result-area + .arrow-bar {
        grid-row: 3;
      }
    }
    /* Vertical - bottom  (grid order) */
    &.qti-choices-bottom {
      .result-area {
        grid-row: 1;
      }
      .result-area + .arrow-bar {
        grid-row: 1;
      }
      .arrow-bar.middle {
        grid-row: 2;
      }
      .choice-area {
        grid-row: 3;
        grid-column: 1 / -1;
      }
    }
    /* Vertical - right (grid order) */
    &.qti-choices-right {
      .order-interaction-area {
        direction: rtl;
      }
      .order-interaction-area > * {
        direction: ltr;
      }
    }
  }
  /* HORIZONTAL orientation (default top position) */
  &.qti-horizontal {
    .block-listing {
      min-height: 38px;
    }
    .arrow-bar {
      margin-bottom: 10px;

      span {
        padding: 0 15px;
        display: inline-block;
        line-height: 1.6;
        &.inactive {
          visibility: hidden;
        }
        &.icon-move-before {
          @include icon-up;
        }
        &.icon-move-behind {
          @include icon-down;
        }
      }
    }
    .icon-move-after,
    .icon-move-before {
      @include rtl {
        transform: scale(-1);
      }
    }
    .choice-area,
    .result-area {
      min-height: 80px;
      display: flex;
      align-items: center;
    }
    /* Horizontal & bottom */
    &.qti-choices-bottom {
      .order-interaction-area {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 10px;
      }
      .order-interaction-area > .arrow-bar:not(.middle) {
        grid-row: 1;
      }
      .result-area {
        grid-row: 2;
        display: block;
      }
      .arrow-bar.middle {
        grid-row: 3;
      }
      .choice-area {
        grid-row: 4;
      }
    }
    /* Horizontal (left & right common css) */
    &.qti-choices-left,
    &.qti-choices-right {
      .order-interaction-area {
        display: grid;
        grid-template-columns: minmax(0, 1fr) auto minmax(0, 1fr);
        grid-template-rows: auto auto;
        column-gap: 20px;
        align-items: start;
      }
      .result-area,
      .choice-area {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
      }
      .arrow-bar.middle {
        margin-top: 20px;
      }
    }
    /* Horizontal & left (grid order) */
    &.qti-choices-left {
      .choice-area {
        grid-column: 1;
        grid-row: 1;
      }
      .arrow-bar.middle {
        grid-column: 2;
        grid-row: 1;
      }
      .result-area {
        grid-column: 3;
        grid-row: 1;
      }
      .order-interaction-area > .arrow-bar:not(.middle) {
        grid-column: 3;
        grid-row: 2;
      }
    }
    /* Horizontal & right (grid order) */
    &.qti-choices-right {
      .result-area {
        grid-column: 1;
        grid-row: 1;
      }
      .order-interaction-area > .arrow-bar:not(.middle) {
        grid-column: 1;
        grid-row: 2;
      }
      .arrow-bar.middle {
        grid-column: 2;
        grid-row: 1;
      }
      .choice-area {
        grid-column: 3;
        grid-row: 1;
      }
    }
  }
  /* Single interaction / drag helpers */
  &.qti-single {
    .order-interaction-area {
      > .arrow-bar,
      > .result-area {
        display: none;
      }
    }
    &.test-preview {
      .order-interaction-area {
        > .arrow-bar:not(.middle),
        > .result-area {
          display: table-cell;
          width: 100%;
        }
        > .choice-area {
          display: none;
        }
      }
    }
  }
  li {
    @include dragdrop-noselect;
    &.dragged {
      border-color: whiten($info, 0.2) !important;
      list-style: none;
    }
  }
  .drag-container {
    position: absolute;
    display: none;
    padding: 0;
    margin: 0;
    z-index: 1;
  }
}
