@import "inc/bootstrap";
.qti-uploadInteraction {

    .progressbar {
        margin-bottom: 6px;
    }
    .file-upload {
        display: inline-block;
        position: relative;
        overflow:hidden;
        .file-name {
            padding: 0 5px;
        }
        input[type="file"] {
            font-size: 40px;
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
            cursor:pointer;
        }
    }
    &:hover {
        .btn-info {
            opacity: .85;
        }
    }

}