// Vertical item (default)
.add-options {
    margin: 15px 5px 8px 0;
}
.add-option {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-left: 2px;
    padding: 5px 16px 5px 6px;
    overflow: hidden;

    @include rtl {
        padding-right: 6px;
        padding-left: 16px;
    }

    .icon-add {
        font-size: 1.8rem;
        left: 6px;
        position: absolute;
        top: 5px;

        @include rtl {
            margin-right: 0;
            margin-left: 8px;
            float: right;
        }
    }
}