@import "inc/bootstrap";
.qti-choiceInteraction {
    // Vertical item (default)
    .real-label input[disabled] ~ [class^="icon-"]{
        cursor: pointer !important;
    }
    .choice-area {
        .label-content {
            display: block;
        }
        .mini-tlb {
            @include rtl {
                inset-inline-end: auto !important;
                inset-inline-start: -2.2em;
            }
        }
        .widget-math.edit-active{
            span.mini-tlb{
                @include rtl {
                    margin-inline-end: 6.3em;
                    inset-inline-start: -2.20em;
                    inset-inline-end: auto !important;
                }
            }
        }
    }
    .mini-tlb {
        right: -38px;

        &[data-edit=answer]{
            inline-size: 38px;
            background: transparent;
            border-color: transparent !important;

            .tlb-button{
                margin-block: 0;
                margin-inline: 0;
                padding-block: 0;
                padding-inline: 0;
                &:hover{
                    background: transparent;
                }
            }
        }
    }

    // Horizontal item
    .horizontal {
        .mini-tlb {
            inset-block-start: -28px;
            inset-inline-end: 0;
            @include rtl {
                inset-inline-end: auto !important;
                inset-inline-start: -1px;
            }
        }
        .widget-box.edit-active {
            @include rtl {
                .mini-tlb {
                    inset-inline-start: -2.2em;
                    inset-inline-end: auto !important;
                    inset-block-start: 0;
                }
            }
        }
        .widget-math.edit-active {
            @include rtl {
                margin-inline-start: 2.25em;

                span.mini-tlb {
                    margin-inline-end: 6.3em;
                    inset-inline-start: -2.20em;
                    inset-inline-end: auto;
                    inset-block-start: -2px !important;
                }
            }
        }
        .qti-choice.edit-choice {
            padding-block-start: 5px;
        }
    }
}
