@import "inc/bootstrap";
.qti-choiceInteraction {
    // Vertical item (default)
    .real-label input[disabled] ~ [class^="icon-"]{
        cursor:pointer !important;
    }
    .choice-area {
        .label-content {
            display: block;
        }

    }
    .mini-tlb {
        right: -38px;

        &[data-edit=answer]{
            width: 38px;
            background: transparent;
            border-color: transparent !important;

            .tlb-button{
                margin:0;
                padding:0;
                &:hover{
                    background: transparent;
                }
            }
        }
    }

    // Horizontal item
    .horizontal {
        .mini-tlb {
            top: -28px;
            right: 0;
        }
        .qti-choice.edit-choice {
            padding-top: 5px;
        }
    }
}


