@import "inc/bootstrap";

.item-editor-bar {
    position: absolute;
    width: 100%;
    min-height: 31px;
    z-index: 100;
    background: $itemCreatorSideBarHeaderColor;
    border-top: 1px solid white;
    border-bottom: 0;
    @include box-shadow(0px, 6px, 10px, -5px, mix(#fff, $darkBrown, 50%));
    > h1 {
        position: absolute;
        width: 100%;
        text-align: center;
        @include font-size(15);
        line-height: 28px;
        padding: 0 10px;
        margin: 0;
    }
    .cke {
        .cke_top {
            border: none;
            border-radius: 0;
            padding: 0;
            margin: 0;
            width: 100%;
            background: $itemCreatorSideBarHeaderColor;
            box-shadow: unset;
            .cke_toolbar {
                .cke_combo_disabled .cke_combo_button:hover, .cke_button_disabled:hover {
                    background: transparent !important;
                    color: $textColor !important;
                    cursor: default;
                }
                .cke_button_icon, .cke_button {
                    height: 21px;
                    font-size: 14px;
                    line-height: 16px;
                }
                .cke_toolgroup {
                    background: transparent;
                    border: none;
                }
                .cke_toolbar_end {
                    border-right: 1px solid whiten($textColor, 0.65);
                    top: 4px;
                    position: relative;
                    margin: 0px 5px;
                }
                .cke_combo {
                    height: 18px;
                    padding-top: 2px;
                    .cke_combo_text {
                        height: 20px;
                        line-height: 22px;
                        padding-top: 0px;
                    }
                    .cke_combo_open {
                        height: 17px;
                        .cke_combo_arrow {
                            margin: 6px 0 0;
                        }
                    }
                }
            }
        }
    }
    .invalid-info-box {
        border-color: #dcb66b;
        background-color: #f7efde;
        margin-top: 28px;
        height: 28px;
        padding-top: 5px;
        padding-left: 10px;
    }
}