@import "inc/bootstrap";
#item-editor-interaction-bar{
    img.interaction-sidebar-icon{
        width: 28px;
        height: 28px;
        display: block;
        margin: 5px auto 8px;
        opacity: 0.8;
    }
}