@import "inc/bootstrap";

.edit-question {
    .match-interaction-area {
        margin-top: 32px;
    }
}

.qti-matchInteraction {

    .qti-prompt-container {
        margin: 5px 0 15px;
    }

    table.matrix {
        th {
            padding: 0;
            background-clip: padding-box;
        }

        thead {
            .mini-tlb {
                top: -32px;
                left: auto;

                @include rtl {
                    left: 0;
                    right: auto;
                }
            }
        }

        tbody {
            .mini-tlb {
                position: absolute;
                top: -1px;
                left: -7px;
                right: auto;
                transform: translateX(-100%);

                @include rtl {
                    right: -7px;
                    transform: translateX(100%);
                }
            }

            [contenteditable="false"] .mini-tlb {
                right: -32px !important;
                left: auto !important;
            }
        }

        td {
            input[disabled] ~ [class^="icon-"] {
                cursor: default !important;
            }
        }

        .mini-tlb {
            width: auto;
            margin: 0;
            padding: 0;

            @include rtl {
                left: auto;
            }

            .tlb-button {
                margin: 0;
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: center;

                [class^="icon-"], [class*=" icon-"] {
                    top: initial;
                    left: initial;
                    transform: initial;
                }
            }
        }

        .score {
            left: 30px;
            min-width: 0;
            width: 35px !important;
            height: 20px;
            position: relative;
            top: 0;
        }
    }

    @include rtl {
        .rgt {
            float: left;
        }
    }
}
