@import "inc/bootstrap";

#modalFeedbacks{
    .mini-tlb {
        @extend %mini-tlb;
        top:-2px;
        right:-2px;
    }
    .modal-body{
        position:relative;
        .cke_editable{
            margin-right:30px;
        }
    }
    .widget-ok{
        margin: 30px 0px 0px;
        display:none;
    }
}

.feedbackRules{
    .feedbackRule-container{
        position:relative;
        margin: 5px 0;
        padding:8px;
        @include simple-border();
        background-color:white(.8);
        max-width:500px;
        .feedbackRule-rule-if{
            margin-bottom:10px;
            .feedbackRule-condition{
                width:86px;
                min-width:40px;
            }
        }
        .feedbackRule-then-else{
            position:relative;
            padding:8px;
            @include simple-border();
        }
        .feedbackRule-button-delete{
            position:absolute;
            top:16px;
            right:16px;
            &:hover{
                cursor:pointer;
                color: $uiClickableHoverBg;
            }
        }
        .feedbackRule-compared-value{
            min-width:35px;
            width:35px;
        }
    }
    .feedbackRule-add{
        margin-top:5px;
    }
}