@import "inc/bootstrap";

.qti-orderInteraction {
    .mini-tlb {
        right: -38px;
        top: 4px;
    }
    .widget-math{
        @include rtl {
            margin-right: 2.15em;
            margin-top: -0.15em;
        }
    }

    // Horizontal version
    &.qti-horizontal {
        .qti-choice { // extra
            .mini-tlb {
                right: -1px;
                top: -28px;
                left: auto;
            }
        }
        .widget-math{
            @include rtl {
                margin-right: 2.15em;
                maring-left: 2em;
                margin-top: -0.15em;
            }
        }
    }
}
[data-qti-class="orderInteraction"].edit-question {
    .arrow-bar {
        visibility: hidden
    }
}
