@import "inc/bootstrap";

.qti-orderInteraction {
    .mini-tlb {
        right: -38px;
        top: 4px;

        @include rtl {
            right: auto;
            left: -38px;
        }
    }

    // Horizontal version
    &.qti-horizontal {
        .qti-choice { // extra
            .mini-tlb {
                right: -1px;
                top: -28px;
                left: auto;

                @include rtl {
                    right: auto;
                    left: -1px;
                }
            }
        }
    }
}
[data-qti-class="orderInteraction"].edit-question {
    .arrow-bar {
        visibility: hidden
    }
}
