@import "inc/bootstrap";

.item-editor-sidebar .tool-group .qti-outcome-editor {
    .outcome-container {
        label: {
            cursor: default;
        }
        .trigger {
            float: right;
            padding: 3px;
            margin-left: 3px;
            cursor: pointer;
            &:hover {
                color: whiten($info, .8);
            }
            &:active {
                color: whiten($info, .6);
            }
        }
        &.readonly {
            diplay: none;
            .trigger {
                color: $darkBrown !important;
                cursor: not-allowed;
            }
        }
        .identifier-label {
            display: inline-block;
            margin: 0;
            width: calc(100% - 44px);
            input.identifier {
                @include font-size(12);
                min-width: 80px;
                display: none;
                margin-bottom: 6px;
            }
        }
        h3 {
            display: block;
        }
        .outcome-properties-form {
            display: none;
        }
        .minimum-maximum {
            label {
                display: inline;
                &.has-icon {
                    display: inline-block;
                    min-width: 120px;
                    width: 120px;
                }
            }
            .incrementer-ctrl-wrapper {
                margin: 0 5px;
            }
        }
        &.editing {
            .icon-edit {
                font-weight: bold;
                color: $info;
            }
            .outcome-properties-form {
                display: block;
            }
            .identifier-label {
                margin-bottom: 12px;
                span.label {
                    display: none;
                }
                input.identifier {
                    display: inline-block;
                }
            }
        }
    }
}