@import "inc/bootstrap";

$titleBarTxt: white(1);
$titleBarBg: blacken($websiteBorder, .25);
$popupBg: $canvas;
$popupBorder: $titleBarBg;

.qti-creator-popup {
    background-color: $popupBg;
    border: 1px solid $popupBorder;

    .qti-creator-popup-title-bar {
        display: flex;
        padding: 3px 5px;

        background-color: $titleBarBg;
        color: $titleBarTxt;

        .qti-creator-popup-title {
            flex: 1;
        }

        .qti-creator-popup-title-btns {
            flex: 0 1 20px;
            text-align: right;

            a {
                color: $titleBarTxt;

                &:hover {
                    text-decoration: none;
                    color: white(0.8);
                }
            }

        }
    }

    .qti-creator-popup-content {
        padding: 5px;


    }
}