@import "inc/bootstrap";
.widget-table {
    display: inline-block;

    table {
        &.qti-table {

        }
    }
    .mini-tlb {
        width: 28px;
        right: -32px;
    }
}

.table-tlb {
    @extend %mini-tlb;
    display: block;
    right: auto;
    top: auto;
}
