@import "inc/bootstrap";

$tooltipBg: #ffffa3;
$tooltipBorder: #f1d031;

.qti-tooltip-editor {
    min-width: 250px;
    max-width: 350px;

    .tooltip-editor-target {
        border: 1px $uiGeneralContentBorder solid;
        text-align: center;
        cursor: text;
        padding: 3px 5px;
        background-color: #fff;
        margin-bottom: 2px;
        display: block;
        width: 100%;
    }

    .tooltip-editor-content-container {
        position: relative;

        .tooltip-editor-content {
            background-color: $tooltipBg;
            border: 1px solid $tooltipBorder;
            @include border-radius(5);
            width: 100%;
            margin: 10px 0;
            padding: 5px;
            font-weight: normal;
            color: $textColor;
            font-size: 1.4rem;
            cursor: text;
        }
    }

    .qti-tooltip-editor-tip {
        background-color: $tooltipBg;
        border-top: 1px solid $tooltipBorder;
        border-left: 1px solid $tooltipBorder;
    }
}
