@import "inc/bootstrap";

#apip-creator-scope{
    #authoringBack {
        span {
            position: relative;
            top: -1px;
            &.icon-left {
                @include font-size(20);
                top: 3px;
                padding-right: 6px;
            }
        }
        margin-right:10px;
    }
    .qti-element-selector{
        .element{
            position:relative;
            border : 1px solid #EEE;
            padding : 11px;
            margin : 4px;
            &.apipfied{
                padding : 10px;
                border-width:2px;
                border-color : #AAA;
            }
            &.hover{
                padding : 10px;
                border-width:2px;
                border-color: whiten($info, .5);
                cursor:pointer;
            }
            &.active{
                padding : 10px;
                border-width:2px;
                border-color: whiten($info, 0);
            }
            &.qti-img {
                display: inline-block;
            }
            .information{
                position :relative;
                .label{
                    position:relative;
                }
            }
        }
    }
    .inclusion-order-container{
        position: absolute;
        right: 5px;
        label{
            cursor : default;
            color: whiten($info, .9);
            padding-right:5px;
        }
        .select2-choice{
            background-color: whiten($info, .9);
        }
        .select2-dropdown-open .select2-choice{
            background-color: white;
        }
    }
}