@import "inc/bootstrap";

#apip-creator-scope{
    .item-editor-action-bar{
        position:relative;
        #item-editor-label {
            width: 30%;
            position: absolute;
            // must be _below_ actions
            z-index: 5;
            left: 52%;
            color: white(.9);
            top: 7px;
            text-shadow: 1px 1px 0 blacken($info, .2);
            font-weight:bold;
        }
        #authoringBack {
            span {
                position: relative;
                top: -1px;
                &.icon-left {
                    @include font-size(20);
                    top: 3px;
                    padding-right: 6px;
                }
            }
            margin-right:10px;
        }
    }
    .qti-element-selector{
        .element{
            position:relative;
            border : 1px solid #EEE;
            padding : 11px 21px;
            margin : 4px;
            
            &.hover{
                padding : 10px 20px;
                border-width:2px;
                border-color: whiten($info, .7);
                cursor:pointer;
                .information .order.fill{
                    border-color: whiten($info, .7);
                }
            }
            &.active{
                padding : 10px 20px;
                border-width:2px;
                border-color: whiten($info, .2);
                .information .order.fill{
                    border-color: whiten($info, .2);
                }
            }
            &.qti-img {
                display: inline-block;
            }
            .information{
                position :relative;
                .label{
                    position:relative;
                }
                .order.fill{
                    position: absolute;
                    left: -31px;
                    top: -16px;
                    width: 26px;
                    height: 26px;
                    text-align: center;
                    border-radius: 50%;
                    background: white none repeat scroll 0% 0%;
                    padding: 1px;
                    border: 2px solid #aaa;
                }
            }
            .element-placeholder{
                display:inline-block;
            }
        }
        [class*=" apip-feature-info-"], [class^="apip-feature-info-"]{
            padding : 10px 20px;
            border-width:2px;
            border-color : #AAA;
        }
    }
    .contextual-popup{
        cursor:default;
        .accessElementInfo-form-header{
            position:relative;
            .title{
                font-size: 1.714rem;
                padding: 0.6rem 0;
                margin:0 0 1.6rem;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            }
            .toolbar{
                position:absolute;
                top:8px;
                right:3px;
                li{
                    font-size : 15px;
                    float:left;
                    margin-left:15px;
                    &:hover{
                        cursor:pointer;
                        color:$info;
                    }
                    &.detach{
                        display:none;
                    }
                }
            }
        }
        .accessElementInfo-form-container{
            background: whiten($uiClickableDefaultBg, .7);
            padding: 10px 20px;
            .accessElementInfo-form-content{
                .field{
                    margin-bottom:1.5rem;
                    label{
                        display:block;
                        margin:0 0 0.3rem;
                        font-weight:bold;
                    }
                    input, textarea{
                        width:100%;
                        max-width: none;
                    }
                }
            }
            .audio-file-form-container {
                max-height: 300px;
                overflow-y: auto;
                margin-bottom: 15px;
                .audio-file-form {
                    padding: 10px 10px 0 10px;
                    margin-bottom: 15px;
                    border: 1px solid #E1E1E1;
                    position: relative;
                    .icon-close {
                        position: absolute;
                        right: 5px;
                        top: 5px;
                        z-index: 10;
                        &:hover {
                            cursor: pointer;
                            color: #0e5d91;
                        }
                    }
                }
            }
        }
    }
    #item-editor-panel{
        padding: 0px;
        background: transparent url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAAAAAA7VNdtAAAFQElEQVR42iXWW45kSREEUDN/xM3M6h4GJCT2vyl2gVBPV1XeCHc3PjirOPFvQE0HWecC3rZ4D9JFcpqSEy4MRO2Cw6M7y6xFY/xaz9fuThJGVSVNpvK7jL3Ggoyp4NsDzjd8dYJS+H8/HtNCo1HjRoNxoto8Wj1xntjG41srvQ7S67JC9UN30vz3snNpfBrEyNaOi5g3ctJFeluZra4rgwJIpMema9qCmEWtsK/I+fpbeDfSXe+AlQMoSxlwreFXRifYhNd4DL6erzoImTTg83iJFbCoM2Z3QqoGeLSmix3Hcvp11yzyax6ujkMEaV02MD/xYB1j2/SoK+IOi738OidmWCrfzwa2zy975XQeOMxNu1+kFS2esEGHrU+vR48LNyVTyQnrz4WK6oVmkaProfD3o1bvRcfywb4/Xsf9IBi70Ethc9qdj2dJXrNiazeN1XDJ+rdbtHkNE/b6/v6JAALjhrn1YHy9A68JGAQCZ/IfIMyaz7OZZjjBQbg0mo3Hd8RnXKSp348L3cdc+6qF6ePCvPPPniFkFIka9P7jn9GVhx5WeT7jB+qOmTRD0xzec/OaovsMn1/TDyBk8/2Rfnq5E0debzcsHwgqNNkS2ylitYcsytui5a14jaCrYp1kjxPHTa/9zqRGxOd6lqgw79pJoX01SPCpW1edJSW3aiwJVifmfk77O1Lx6ESH4Nh5m8e46RzDxYMnzLBd49Lj7u44gRtXb99uRqoTJlicX/FY7O1mU2QjOfIXH7/19zhujmIxUeU+Y1QKf6YTLa8Oo6YHwLmkaAszyLJfczoMUJK0Ssfo6KM+OetMDtBI2/NUhw3uDJi2X7px2XGNqcjTafYRezNhNrERruMnbpiZXFwxjBmQaEouS1RfvtrwJmjhkNe7Yruln4DMBIEDOQ4uFA/O9jLTjJs1j7tcEYZK2NhqsD6f+5rqyB4ddCnj/R2ewSHpjuOPHdf00AChWR4EYtu0hRXEq97FqHFqbFTz/FZs9/eHVIYJpKPdeVdYw/DE8AKNFyGU7E7MBFDZ5kQ1zX0KzEDPwC7zz35dN4ygpi67/DaP19ij7ycgo6M3hZOvrnzPC4pq0F0wFaCAeYWFYFadZibt79fomJg38vbsoV2ghpuL3RO00EC6vjsc1sRrlaJbpnTUODAa2poFTr0XnfHuH7qtftuDGJPB5vfPPM6AQou7fIzWM4p4XMDEG2D1j8Bk70tqWVqbOzTHDco5l4rs4RA8O5aG6z62mfY6CIgvb8OACvvGIgC1Qx7Y1ExcLWmlHb0t8QBcYYAoeY/Y5t7lbY9uu+7xZwANoTKzaoYO63EvBFqYtK3rasyS/Db5ZIfPROCMjQlJoLuYBNkTENIk9JnLtGBdZwUQGvNmPRxdEfdb50cLevs1Elk7c50Rre4n/vOvQPqRPIRDmbEjsuAiImQDk9gpdlKw/fyh8K4JSMxmGXFfD3doyOvux32enindFoDMb3MF0IGK8gHTZgxoqggpTInvH9ao9B6Td9oo5qyBw8eBBntCRj5GOuTktVxz//XHk+p2mXrifiMokq5BR94DNkPCsJBt3f4071kDOQwd/hPz/rnHgbGRns3vxTOOy2ff5uf7mReOgQ4K8gDID62De5VRZe/rfuSMYKOrdsczymEhx4hTJyZvrbYYie0QBj/1V4agcVV4JXqmYgFb8sxYQ95BFdsNyPPHoadIqM1fLYdiT4gQ+P00xZfZih5YtkFn7Xdw7P/FIeltYjSfW+Q1IZ7wcQgU4DupThfe9aN3wtCUjJoLktqBD27/HztqGm4EFwGoAAAAAElFTkSuQmCC") repeat scroll 0% 0%;
        position: relative;
        min-height: 1000px;
        @include simple-flex-box();
        #item-editor-scroll-outer{
            /*overflow: auto;*/
            border-top: 1px solid #FFF;
            #item-editor-scroll-inner{
                padding:20px 60px;
                .qti-itemBody{
                    background:white;
                    min-height:300px
                }
            }
        }
    }
    #item-editor-wrapper {
        margin: 0;
        position: relative;
        background-color: mix(#fff, $grey, 85%);
        @include flex-container();
        
        .item-editor-item {
            position : relative;
            [class*=" col-"], [class^="col-"] {
                padding: 3px; //not consistent with commonRenderer ! @todo : fix this
            }
        }
        .action-bar {
            position: relative;
            z-index: 15;
        }
    }
    .item-editor-sidebar-wrapper {
        border-left: 1px solid white;
        background: $canvas;
        position: relative;
        
        @include simple-flex-box(195px);
        
        &.right-bar{
            .action-bar{
                width:370px;
            }
            .item-editor-sidebar{
                border-top : 1px solid white;
                padding : 10px 0;
            }
        } 
    }
    .order-list{
        .order-element{
            width:100%;
            padding : 10px;
            margin-bottom : 10px;
            position :relative;
            padding : 0px 10px 0px 36px;
            width:370px;
            .information{
                .order{
                    cursor : default;
                    position: absolute;
                    top : 16px;
                    left: 7px;
                    font-weight: bold;
                    border-radius: 50%;
                    border : 1px solid $canvas;
                    width:22px;
                    height:22px;
                    text-align:center;
                    background: $canvas;
                    &:after{
                        content : '.'
                    }
                }
            }
            .content{
                cursor : move;
                border : 1px solid #DDD;
                padding: 16px;
                &:hover{
                    background: whiten($canvas, .3);
                }
            }
            &.ui-sortable-helper{
                .content{
                    background: whiten($canvas, .6);
                    border-color: whiten($info, .7);
                }
                .order{
                    color: whiten($info, .3);
                    font-weight: bold;
                }
            }
        }
    }
    .inclusion-order-container{
        position: absolute;
        right: 5px;
        label{
            cursor : default;
            color: whiten($info, .9);
            padding-right:5px;
            font-weight: bold;
        }
        .select2-choice{
            background-color: whiten($info, .9);
        }
        .select2-dropdown-open .select2-choice{
            background-color: white;
        }
    }
}

@media (max-width: 1280px) {
    #apip-creator-scope{
        .item-editor-action-bar #item-editor-label {
            text-align: right;
            width: 40%;
            left: auto;
            right: 20px;
        }
        .item-editor-sidebar-wrapper.right-bar .action-bar{
            width:270px;
            label[for=inclusionOrder]{
                display:none;
            }
        }
        .order-list .order-element{
            width:265px;
        }
    } 
}