@import "inc/bootstrap";

#apip-creator-scope{
    #authoringBack {
        span {
            position: relative;
            top: -1px;
            &.icon-left {
                @include font-size(20);
                top: 3px;
                padding-right: 6px;
            }
        }
        margin-right:10px;
    }
}