// Remove this mixin after refactoring _qti-base to avoid dublication from tao-core
@mixin rtl {
    @at-root {
        #{selector-replace(&, $mainContainer, $mainContainer + " [dir=rtl] ")} {
            @content;
        }
    }
}

@mixin ltr {
    @at-root {
        #{selector-replace(&, $mainContainer, "[dir='ltr'] " + $mainContainer)} {
            @content;
        }
    }
}

// IE10+ CSS styles go here
@mixin ie11 {
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        @content;
    }
}

@mixin dragdrop-noselect {
    user-select: none;
    -webkit-touch-callout: none; /* on iOS, disable contextmenu if longpress on image - it conflicts with drag-start longpress */
}

/* writing-mode is defined on:
     a) item (.qti-itemBody), b) text block (.custom-text-box), c) interaction (.qti-interaction).
  use this mixin for content inside those blocks
 */
@mixin writing-mode-vertical-rl {
    .writing-mode-vertical-rl,
        .writing-mode-vertical-rl > :where(.grid-row) > :where(*), /* [class*=' col-'],[class^='col-'] */
        .writing-mode-vertical-rl :where(.colrow) {
        &:where(:not(:has(.writing-mode-horizontal-tb))) {
            @content;
        }
    }
}
